---
import { getI18N } from "@i18n/index";
import { Image } from "astro:assets";
import BowlImage from "@assets/images/ocho.webp";
import Container from "@components/Container.astro";
import Dulces from "@assets/images/7.webp";
import BowlContent from "@components/common/BowlContent.astro";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const { extendedLorem, sugar } = i18n.Common;
---

<main class="bg-lightRose lg:relative pt-24 lg:py-0">
  <Container
    className="flex lg:flex-row flex-col-reverse items-center justify-center place-content-center py-0  lg:py-24"
  >
    <picture class="lg:w-1/2">
      <Image src={BowlImage} alt={"BowlImage"} loading={"eager"} class={" "} />
    </picture>
    <section
      class="lg:w-1/2 lg:ml-12 font-cSoon uppercase justify-center flex flex-col"
    >
      <span class="text-primary text-4xl lg:text-6xl lg:mb-8 font-bold">
        {sugar}</span
      >
      <p
        class="text-slate-100 lg:leading-10 text-2xl lg:text-4xl mt-4 lg:mt-4 mb-8 lg:mb-0"
      >
        {extendedLorem}
      </p>
    </section>
  </Container>
  <div
    class="bg-bottomWave absolute lg:h-32 w-full lg:bg-cover pb-32 lg:pb-0 bg-no-repeat"
  >
  </div>
</main>

<div class="flex flex-col lg:flex-row lg:h-full">
  <picture class="lg:w-1/2 w-fit">
    <Image
      src={Dulces}
      loading={"eager"}
      alt="Candies"
      class="w-full h-full object-cover"
    />
  </picture>
  <div
    class="flex flex-col bg-vsColor lg:w-1/2 w-full justify-center items-center"
  >
    <Container>
      <BowlContent />
    </Container>
  </div>
</div>
