---
import { getI18N } from "@i18n/index";
import { Image } from "astro:assets";
import BowlImage from "@assets/images/ocho.webp";
import Container from "@components/Container.astro";
import Dulces from "@assets/images/7.webp";
import BowlContent from "@components/common/BowlContent.astro";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const { extendedLorem, sugar } = i18n.Common;
---

<main class="bg-lightRose py-16">
  <Container
    className="flex lg:flex-row flex-col-reverse items-center justify-center place-content-center"
  >
    <picture class="lg:w-1/2">
      <Image
        src={BowlImage}
        alt={"Shape of star"}
        loading={"lazy"}
        format={"avif"}
        quality={"low"}
        class={" drop-shadow-2xl"}
      />
    </picture>
    <section class="lg:w-1/2 lg:ml-12">
      <span class="text-primary text-5xl lg:text-7xl lg:mb-4 font-extrabold">
        {sugar}</span
      >
      <p
        class="text-slate-200 text text-2xl lg:text-5xl text-justify mt-4 lg:mt-4 mb-8 lg:mb-0"
      >
        {extendedLorem}
      </p>
    </section>
  </Container>
</main>

<div class="flex flex-col-reverse lg:flex-row lg:h-96">
  <picture class="lg:w-1/2 w-full">
    <Image
      src={Dulces}
      quality="low"
      loading="eager"
      format="avif"
      alt="Candies"
      class="w-full h-full object-cover"
    />
  </picture>
  <div
    class="flex flex-col bg-vsColor lg:w-1/2 w-full justify-center items-center"
  >
    <Container>
      <BowlContent />
    </Container>
  </div>
</div>
