---
import Container from "@components/Container.astro";
---

<div class="h-20 bg-primary">
  <Container>
    <div class="pt-4 flex lg:justify-start justify-center">
      <span
        class="font-extrabold text-4xl lg:text-5xl text-center lg:text-left uppercase text-deepPurple"
        >Lorem ipsum</span
      >
    </div>
  </Container>
</div>
