---
import Container from "@components/Container.astro";
---

<div class="h-20 bg-primary">
  <Container>
    <div class="pt-4 flex">
      <span class="font-extrabold text-5xl uppercase text-deepPurple"
        >Lorem ipsum</span
      >
    </div>
  </Container>
</div>
