---
import Chile from "@assets/icons/four/Chile.astro";
import Glutten from "@assets/icons/four/Glutten.astro";
import Sugar from "@assets/icons/four/Sugar.astro";
import Vegano from "@assets/icons/four/Vegano.astro";
---

<section class="flex flex-wrap justify-center">
  <div class="w-full md:w-1/2 p-6 flex flex-col items-center relative">
    <div class="curved-text">
      <p class="text-center text-lg font-semibold mb-2">Sin azúcar</p>
    </div>
    <Sugar />
    <div class="curved-text">
      <p class="text-center text-lg font-semibold mt-2">Sin azúcar</p>
    </div>
  </div>
  <div class="w-full md:w-1/2 p-6 flex flex-col items-center relative">
    <div class="curved-text">
      <p class="text-center text-lg font-semibold mb-2">Sin glutten</p>
    </div>
    <Glutten />
    <div class="curved-text">
      <p class="text-center text-lg font-semibold mt-2">Sin glutten</p>
    </div>
  </div>
  <div class="w-full md:w-1/2 p-6 flex flex-col items-center relative">
    <div class="curved-text">
      <p class="text-center text-lg font-semibold mb-2">Vegano</p>
    </div>
    <Vegano />
    <div class="curved-text">
      <p class="text-center text-lg font-semibold mt-2">Vegano</p>
    </div>
  </div>
  <div class="w-full md:w-1/2 p-6 flex flex-col items-center relative">
    <div class="curved-text">
      <p class="text-center text-lg font-semibold mb-2">Con chile</p>
    </div>
    <Chile />
    <div class="curved-text">
      <p class="text-center text-lg font-semibold mt-2">Con chile</p>
    </div>
  </div>
</section>
