---
import { Image } from "astro:assets";
import osoV from "@assets/images/10.webp";
import osoR from "@assets/images/11.webp";
---

<!-- <div class="hidden lg:flex justify-center items-center space-x-4">
  <picture class="h-20 w-20">
    <Image src={osoR} alt="oso rojo" class="w-full h-full" />
  </picture>
  <picture class="h-20 w-20">
    <Image src={osoV} alt="oso verde" class="w-full h-full" />
  </picture>
</div> -->
