---
import Facebook from "@assets/icons/social/Facebook.astro";
import Insta from "@assets/icons/social/Insta.astro";
import Tik from "@assets/icons/social/Tiktok.astro";
---

<div class="flex flex-row justify-center py-8 mx-auto gap-8">
  <a href="" target="_blank" class="p-6 rounded-full bg-deepRose">
    <Insta />
  </a>
  <a href="" target="_blank" class="p-6 rounded-full bg-deepRose">
    <Facebook />
  </a>
  <a href="" target="_blank" class="p-6 rounded-full bg-deepRose">
    <Tik />
  </a>
</div>
